---

---

<html lang="en">
    <head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Aphelion</title>
	</head>
    <body>
        <slot />
    </body>
</html>

<style>
	*, *::before, *::after {
		margin: 0;
		padding: 0;
	}
	body {
		font-family: 'Arial', sans-serif;
		background: #000000;
		color: #FFFFFF;
	}
</style>