---
import Document from "@layouts/Document.astro"
---

<Document>
    <main>
        <slot />
    </main>
</Document>

<style>
    main {
        border: 1px solid #FFFFFF;
        margin: 1rem;
        padding: 1rem;
    }
</style>